.polaroid-frame {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33vw;
  aspect-ratio: 1/1.15;
  padding: 1rem;
  border-radius: 0.5rem;
  transform: rotate(-3deg);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);

  .picture {
    width: 30vw;
    aspect-ratio: 1/1;
    transform: rotate(-3deg);
    margin-bottom: 1rem;
  }
}
